.flip-slider {
    width: 100%;
}
.flip-frame {
    width: 100%;
}

@media only screen and (max-width: 1419px) and (min-width: 1200px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
@media only screen and (max-width: 575px) and (min-width: 361px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
@media only screen and (max-width: 360px) {
    .flip-frame, .flip-frame .slide {
        width: unset;
    }
}
.projects-all-narrow {
    display: none;
}
@media only screen and (max-width: 575px) {
    .flip-slider-wrap {
        margin-left: 6px;
        margin-right: 6px;
    }
    .news-main-block-big {
        width: 100%;
        padding: 0 20px;
    }
    .news-main-img-big {
        display: none;
    }
    .news-main-block-big .type-post {
        position: unset;
        width: unset;
    }
    .news-main-block-big .button-grey-green {
        position: unset;
        width: unset;
    }
    .news-main-block-big .button-grey-green .news-main-block-leaf {
        margin-left: unset;
        right: 7px;
        bottom: 0;
    }
    .news-main-img-big .news-main-block-leaf {
        display: none;
    }
    .category .news-main-block-big,
    .post-type-archive-tribe_events  .news-main-block-big {
        padding-top: 20px;
    }
    .site-content .container {
        margin: unset;
    }
    .page-template-default .site-content .container,
    .top-service {
        margin-left: 10px;
        margin-right: 10px;
    }
    .service-main-pic {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: unset;
    }
    .container.contacts-social.fin-sliders {
        margin-left: 25px;
        margin-right: 25px;
    }
    .company-partners #metaslider_container_103 {
        width: unset;
        padding-left: 20px;
        padding-right: 20px        
    }
    .service-main-block.order-in-service {
        margin-bottom: -30px;
    }
    .container.section.engineering-wrap.modernization-block,
    .container.section.engineering-wrap.five-steps {
        margin-bottom: 30px;
    }
    .container.section.engineering-wrap.modernization-block {
        margin-top: -30px;
    }
    .container.section.engineering-wrap.modernization-block .company-projects {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .company-projects .button-net {
        justify-content: center;
        margin-bottom: -20px;
    }
    .production-3d-list {
        max-width: unset;
        margin-left: -20px;
        margin-right: -20px;
        border-radius: unset;
    }
    .about-main-img, .about-main {
        border-radius: unset;
    }
    .news-right {
        padding: 0 10px;
    }
    .net-buy {
        margin-right: 20px;
        margin-left: 20px;
    }
    .news-main-big-wrap {
        margin-left: 20px;
        margin-right: 20px;
    }
    .top-news .news-right {
        padding: 0 20px;
    }
    .three-news .type-post {
        padding: 0 20px;
    }
    .clients-main-page {
        border-radius: unset;
    }
    .container.contacts-social, .filial-content, .footerbottom,
    .woocommerce-page .site-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .container.header-category {
        margin-left: 0;
        margin-right: 0;       
    }
    #header-bottom {
        border-radius: unset;
    }
    .about-main-img {
        display: none;
    }
    .about-main-txt p {
        padding-right: 20px;
    }
    .copy-left, .copy-middle, .copy-right {
      display: block;
      width: 100%;
    }
    .copy-right {
      margin-bottom: 15px;
    }
    .made-in {
        display: none;
    }
    .container.section.projects-page.map-product {
        margin-top: 30px;
    }
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }
    .single-post .site-content .container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .news-picker {
        margin-right: 20px;
    }
    .news-right {
        padding: 0;
    }
    .container.section.news-events.three-news {
        margin-left: 20px;
        margin-right: 20px;
    }
    .photogallery-wrap {
        margin-top: 25px;
        display: block;
        text-align: center;
    }
    .photogallery-wrap,
    .photogallery-wrap.videogallery-wrap {
        margin-left: 20px;
    }
    .photogallery-wrap.videogallery-wrap {
        margin-top: -30px;
        padding-bottom: 25px;
    }
    .category-photoalbums h1 {
        text-align: center;
    }
    #primary.photos-year {
        margin-left: 20px;
        margin-right: 20px;
    }
    #primary.photos-year .cityselect {
        margin-bottom: 20px;
    }
    #primary.photos-year .photoalbum-year-current {
    position: relative;
    float: unset;
    margin: 0 0 25px 0;
    width: unset;
    }
    .tribe-common-l-container.tribe-events-l-container {
        padding-top: 15px;
    }
    .tribe-events-c-top-bar__datepicker-mobile {
        color: #556978;
    }
    #flexslider-photoalbum, #flexslider-video {
        width: unset;
        margin-left: 30px;
        margin-right: 30px;
    }
    .button-product-action {
        display: block;
        text-align: center;
    }
    .button-product-action .send-order {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .product-after-info,
    .container.section.projects-page.map-product {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: unset;
    }
    .product-after-info {
        margin-top: unset;
    }
    .product-template-default .finance-header.projects-header {
        width: 60%;
    }
    .container.section.clients-top.clients-top-with-map.all-rojects-page {
        width: 100%;
    }
    .all-projects-text {
        margin-left: 0;
        margin-right: 0;        
    }
    .material-list {
        width: 46.7%;
    }
    .back {
        background-image: none;
    }
    .service-order-wrap {
        border-radius: unset;
        margin-left: -20px;
        margin-right: -20px;        
    }
    .service-order-wrap .container.container-padding0 {
        margin: 0;        
    }
    .select2-container--default .select2-selection--single {
        margin-bottom: 8px;
    }
    .warranty-block-finance .warranty-txt div {
        margin-left: -63px;
    }
    .container.section.engineering-wrap.modernization-block,
    .container.section.engineering-wrap.five-steps {
        border-radius: unset;
        margin-left: -10px;
        margin-right: -10px;                
    }
    .product-specification {
        border-radius: unset;
        margin-left: -20px;
        margin-right: -20px;
    }
    .button-service.proizvodstvo-form.proizvodstvo-order {
        position: static;
        width: 175px;
        margin: 0 auto;
    }
    .button-service.proizvodstvo-form.proizvodstvo-order a {
        white-space: nowrap;
    }
    .warranty-block {
        display: block;
    }
    .warranty-pic {
        margin-bottom: 10px;
    }
    .warranty-txt {
        width: 100%;
    }
    .modernization-list.fin-list {
        margin-left: -50px;
    }
    .modernization-list.fin-list li {
        padding-left: 8px;
    }
    .page-template-default .site-content .container.equipment-main-company.equipment-catalog {
        border-radius: unset;
        margin-left: -20px;
        margin-right: -20px; 
        margin-bottom: 30px;       
    }
    #flexslider-clients .flex-direction-nav, #flexslider-partners .flex-direction-nav {
        left: unset;
        right: 0;
    }
    .company-right .clients-slider-title {
        margin-top: -20px;
    }
    #projectview11 {
        margin-left: 20px;
        margin-right: 20px; 
    }
    #projectview11 .photo-announce-project {
        width: 300px;
        height: 200px;
        margin: 0;
    }
    .pic-main-link a {
        font-size: 1.4rem;
    }
    .bottomphone-wrap.bottomphone-mobil {
        justify-content: unset;
    }
    .contacts-social .feedback-wrap.feedback-form.feedback-bottom.feedback-main {
        text-align: left;
    }
    .service-subtitle-1, .service-subtitle-2 {
        margin-left: 65px;
    }
    .warranty-pic-service {
        display: none;
    }
    .service-subtitle-1:before, .service-subtitle-2:before {
        content: '';
        background: url("./inc/img/pic-warranty.png") no-repeat center center;
        margin-left: -70px;
        margin-top: -10px;
        width: 65px;
        height: 60px;
        position: absolute;
    }
    .service-subtitle-2:before {
        background: url("./inc/img/pic-postwarranty.png") no-repeat center center;
    }

    .fin-partners.company-partners #metaslider_103 .flex-control-nav,
    .company-partners #metaslider_103 .flex-control-nav,
    .company-partners #metaslider_174 .flex-control-nav,
    .company-assoc #metaslider_388 .flex-control-nav,
    #metaslider_103 .flex-control-nav,
    #metaslider_174 .flex-control-nav,
    #metaslider_388  .flex-control-nav {
        position: static;
        margin: 15px auto 0;
        max-width: unset;
        text-align: center;
    }
    .clients-sl-left {
        margin-top: 30px;
    }
    .clients-slider-slide-logo img {
        max-width: 100%;
    }
    .header-category .slider-category-narrow {
        margin-bottom: 40px;
    }
    #metaslider_container_103 .flex-viewport, #metaslider_container_174 .flex-viewport, #metaslider_container_388 .flex-viewport {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    #metaslider_388 {
        width: 100%;
    }
    #metaslider_container_388 .flex-viewport {
        width: 215px;
        margin-left: auto;
        margin-right: auto;
    }
   .news-page #flexslider-photoalbum {
        width: 98%;
        max-width: 98%;
        margin-left: 0;
        margin-right: 0;
    }
    .news-page #flexslider-photoalbum .photo-announce-project {
        width: 100%;
    }
    #projectview.container.section {
        margin-left: 20px;
        margin-right: 20px;
    }
    .projects-all-wide {
        display: none;
    }
    .projects-all-narrow {
        display: block;
    }
    #flexslider-projects {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -35px;
    }
    #flexslider-projects .flex-viewport {
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    #flexslider-projects .photoalbum-year {
        width: calc(100% - 10px);
    }
    #flexslider-projects .slides > li {
        display: none;
    }
    #flexslider-projects .slides > li:first-child {
        display: block;
    }
    .before-project-slider {
        width: 320px; 
        color: #FFF;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    #metaslider_container_103 .flex-viewport, #metaslider_container_174 .flex-viewport, #metaslider_container_388 .flex-viewport {
        width: 636px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 575px) and (max-width: 767px){
    #metaslider_container_103 .flex-viewport, #metaslider_container_174 .flex-viewport, #metaslider_container_388 .flex-viewport {
        width: 418px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 410px) {
    .material-list {
        width: 45%;
    }
}

@media only screen and (min-width: 575px) {
    .news-main-block-big .button-grey-green .news-main-block-leaf {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
   .news-page #flexslider-photoalbum {
        margin-top: 30px;
    }
}
@media only screen and (min-width: 1420px) {
   .news-page #flexslider-photoalbum {
        width: 98%;
    }
}

.news-right .flexslider {
    background: unset;
}