.cardslider-card {
  padding: 20px;
  color: black;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardslider-card.center {
  text-align: center;
}
.no-center {
  display: block;
}
.cardtitle {
  font-size: 1.4rem;
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  display: block;
}
.cardslider__cards li {
  background: #FFF;
  color: #FFF;
}
.cardslider__cards li img {
  display: none;
  margin: 0 auto;
  max-width: 85px;
}
.cardslider__cards li.cardslider__card--index-0 {
  background: #00AD7A;
  top: 44px;
  width: 100%;
  color: white;
  border-radius: 20px 0 20px 0;  
  display: flex;
  flex-wrap: wrap;
}
.cardslider__cards li.cardslider__card--index-0 img {
  display: block;
}
.cardslider__cards li.cardslider__card--index-1 img {
  display: block;
}
.cardslider__cards li.cardslider__card--index-1 {
  background: linear-gradient(to top, #7D7D7D, #CCC);
  color: white;
  border-radius: 20px 0 20px 0;  
  display: flex;
  flex-wrap: wrap;
  top: 0;
}
.cardslider__cards li.cardslider__card--index-1 a {
   color: #556978;
}